services:
  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    ports:
      - "${RABBITMQ_HOST_PORT_5672}:5672"
      - "${RABBITMQ_HOST_PORT_15672}:15672"
    labels:
      autoheal-label: true
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - ${DATA_DIRPATH}/volumes/rabbitmq:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  redis:
    image: redis:8.4.0
    ports:
      - "${REDIS_HOST_PORT}:6379"
    labels:
      autoheal-label: true
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 10s


  # TODO update image
  # celery_worker:
  #   image: python:3.11-slim
  #   command: >
  #     sh -c "pip install celery redis &&
  #            celery -A app worker --loglevel=info"
  #   labels:
  #     autoheal-label: true
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #   environment:
  #     CELERY_BROKER_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672/
  #     CELERY_RESULT_BACKEND: redis://redis:6379/0

  # # TODO update image
  # celery_beat:
  #   image: python:3.11-slim
  #   command: >
  #     sh -c "pip install celery redis &&
  #            celery -A app beat --loglevel=info"
  #   labels:
  #     autoheal-label: true
  #   depends_on:
  #     - rabbitmq
  #     - redis
  #   environment:
  #     CELERY_BROKER_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672/
  #     CELERY_RESULT_BACKEND: redis://redis:6379/0
