services:
  # Python script for populating vector DB
  populate-db:
    build:
      context: .
      dockerfile: Dockerfile.populate
      args:
        USER_UID: ${USER_UID}
        USER_GID: ${USER_GID}
    environment:
      - INPUT_DIRPATH=/data_to_populate
      - MILVUS_USE_LITE=true
      - MILVUS_HOST=/data/milvus.db
      - OLD_MILVUS_COLLECTION_PREFIX=AIoD_STS_GTE
      - NEW_MILVUS_COLLECTION_PREFIX=aiod           # should equal to MILVUS__COLLECTION_PREFIX in env.app
    volumes:
      - ${INITIAL_EMBEDDINGS_TO_POPULATE_DB_WITH_DIRPATH}:/data_to_populate
      - ${DATA_DIRPATH}/volumes:/data
