# python 3.11.9

datasets==3.3.2
jupyter==1.0.0
numpy==2.2.4
pandas==2.2.2
python-dotenv==1.0.1
sentence-transformers==3.0.1
torch==2.3.1
transformers==4.41.2
wandb==0.17.1
langchain==0.3.21
langchain-community==0.3.5
langchain-core==0.3.47
langchain-ollama==0.2.0
langchain-openai==0.3.8
langchain-text-splitters==0.3.2
ollama==0.3.3
chromadb==0.6.3
nltk==3.8.1
lark==1.2.2

# flash-attn==2.5.9.post1 # this package requires CUDA (nvcc)
