apiVersion: v1
kind: Service
metadata:
  name: {{ include "aiod-enhanced-interaction.ollama.fullname" . }}
  labels:
    {{- include "aiod-enhanced-interaction.ollama.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 11434
    targetPort: 11434
    name: ollama
  selector:
    {{- include "aiod-enhanced-interaction.ollama.selectorLabels" . | nindent 4 }}
