apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "aiod-enhanced-interaction.rabbitmq.fullname" . }}
  labels:
    {{- include "aiod-enhanced-interaction.rabbitmq.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.rabbitmq.replicas }}
  selector:
    matchLabels:
      {{- include "aiod-enhanced-interaction.rabbitmq.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "aiod-enhanced-interaction.rabbitmq.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: rabbitmq
        image: "{{ .Values.rabbitmq.image.repository }}:{{ .Values.rabbitmq.image.tag }}"
        imagePullPolicy: {{ .Values.rabbitmq.image.imagePullPolicy }}
        ports:
        - containerPort: 5672
          name: amqp
        - containerPort: 15672
          name: management
        env:
        - name: RABBITMQ_DEFAULT_USER
          valueFrom:
            secretKeyRef:
              name: {{ include "aiod-enhanced-interaction.rabbitmq.fullname" . }}-secret
              key: username
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              name: {{ include "aiod-enhanced-interaction.rabbitmq.fullname" . }}-secret
              key: password
        {{- if .Values.rabbitmq.persistence.enabled }}
        volumeMounts:
        - name: rabbitmq-data
          mountPath: /var/lib/rabbitmq
        {{- end }}
        {{- with .Values.rabbitmq.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        readinessProbe:
          exec:
            command:
            - rabbitmq-diagnostics
            - -q
            - ping
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
        livenessProbe:
          exec:
            command:
            - rabbitmq-diagnostics
            - -q
            - ping
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
      {{- if .Values.rabbitmq.persistence.enabled }}
      volumes:
      - name: rabbitmq-data
        persistentVolumeClaim:
          claimName: {{ include "aiod-enhanced-interaction.rabbitmq.fullname" . }}-pvc
      {{- end }}
