fastapi==0.112.2
uvicorn==0.30.6
numpy==1.26.4
pydantic==2.8.2
pydantic-settings==2.4.0
tqdm==4.66.5
python-dotenv==1.0.1
pymilvus==2.4.5
transformers==4.44.2
sentence-transformers==3.0.1
tinydb==4.8.0
tinydb-serialization==2.1.1
apscheduler==3.10.4
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-ollama==0.2.0
ollama==0.3.3